<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
-->
<ion-tabs>
	<!-- main menu Tab -->
	<ion-tab href="#/tab/main_menu">
		<ion-nav-view name="tab-main-menu"></ion-nav-view>
	</ion-tab>
	<!-- text view Tab -->
	<ion-tab href="#/tab/text_view">
		<ion-nav-view name="tab-text-view"></ion-nav-view>
	</ion-tab>
	<!-- combat Tab -->
	<ion-tab href="#/tab/combat">
		<ion-nav-view name="tab-combat"></ion-nav-view>
	</ion-tab>
	<!-- walk Tab -->
	<ion-tab href="#/tab/walk">
		<ion-nav-view name="tab-walk"></ion-nav-view>
	</ion-tab>
</ion-tabs>
