<ion-view hide-nav-bar="true">
	<ion-content class="noHeader" scroll="false">
		<div class="fill" style="height: {{::getWindowHeight()}}px">
			<!-- Turns -->
			<div class="left-combat">
				<div class="turn" ng-repeat="turn in getTurns()">
				
				</div>
			</div>

			<!-- View -->
			<div class="center-combat" style="background-image: url({{getBackgroundImg()}}); width: {{::getWindowWidth() - 200}}px;">
				<div class="players">
					<div ng-repeat="player in getPlayers()">
						<div ng-include="'templates/fragments/player.html'"></div>
					</div>
				</div>

				<div class="players enemies">
					<div ng-repeat="player in getEnemies()">
						<div ng-include="'templates/fragments/player.html'"></div>
					</div>
				</div>
			</div>

			<!-- Moves -->
			<div class="right-combat">
			</div>
		</div>
	</ion-content>
</ion-view>
