<ion-view hide-nav-bar="true">
	<ion-content class="noHeader" scroll="false">
		<div class="fill" style="height: {{::getWindowHeight()}}px">
			<!-- Turns -->
			<div class="left-combat" align="center">
				<div class="turn" ng-repeat="turn in getTurns()" ng-class="{'active-turn': turn === getTurns()[0]}">
					<div ng-repeat="player in turn.players">
						<div ng-include="'templates/fragments/player.html'"></div>
					</div>
				</div>
			</div>

			<!-- View -->
			<div class="center-combat" style="background-image: url({{getBackgroundImg()}}); width: {{::getWindowWidth() - 200}}px;">
				<div class="players">
					<div ng-repeat="player in getPlayers()">
						<div ng-include="'templates/fragments/player.html'"></div>
					</div>
				</div>

				<div class="players enemies">
					<div ng-repeat="player in getEnemies()">
						<div ng-include="'templates/fragments/player.html'"></div>
					</div>
				</div>
			</div>

			<!-- Moves -->
			<div class="right-combat" align="center">
				<div class="turn" style="height: {{::getWindowHeight()/3 - 5}}px; padding-top: {{::(getWindowHeight()/3 - 5)/2 - 20}}px;" ng-click="toggleMove(MOVE_ATTACK)" ng-class="{'active-turn': isActiveMove(MOVE_ATTACK)}">
					<p>
						Attack
					</p>
				</div>
				<div class="turn" style="height: {{::getWindowHeight()/3 - 5}}px; padding-top: {{::(getWindowHeight()/3 - 5)/2 - 20}}px;" ng-click="toggleMove(MOVE_SPELL)" ng-class="{'active-turn': isActiveMove(MOVE_SPELL)}">
					<p>
						Spell
					</p>
				</div>
				<div class="turn" style="height: {{::getWindowHeight()/3 - 5}}px; padding-top: {{::(getWindowHeight()/3 - 5)/2 - 20}}px;" ng-click="toggleMove(MOVE_SPECIAL)" ng-class="{'active-turn': isActiveMove(MOVE_SPECIAL)}">
					<p>
						Special
					</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
