<ion-view hide-nav-bar="true">
	<ion-content class="noHeader">
		<div class="fill" style="height: {{::getWindowHeight()}}px">
			<div class="left-combat">
			</div>
			<div class="center-combat" style="background-image: url({{getBackgroundImg()}}); width: {{::getWindowWidth() - 200}}px;">
				<div class="players">
					<div ng-repeat="player in getPlayers()">
						<div ng-include="'templates/fragments/player.html'"></div>
					</div>
				</div>

				<div class="players enemies">
					<div ng-repeat="player in getEnemies()">
						<div ng-include="'templates/fragments/player.html'"></div>
					</div>
				</div>
			</div>
			<div class="right-combat">
			</div>
		</div>
	</ion-content>
</ion-view>
