<ion-view hide-nav-bar="true">
	<ion-content class="noHeader" scroll="false">
		<div class="fill" style="height: {{::getWindowHeight()}}px; background-image: url({{getBackgroundImg()}});">
			<div class="players no-health">
				<div ng-repeat="player in getPlayerArray()" id="walkingPlayer">
					<div ng-include="'templates/fragments/player.html'"></div>
				</div>
			</div>
			<div class="players enemies" ng-click="next()">
				<div ng-repeat="player in getEnemyArray()" id="enemy{{player.index}}">
					<div ng-include="'templates/fragments/player.html'"></div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
