ion-content {
	top: 0px !important;
	bottom: 0px !important;
}

.tabs {
	display: none;
}

/* General */
.fill {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

/* VIEWS */
.left-combat {
	height: 100%;
	width: 100px;
	background-color: pink;
	float: left;
}

.right-combat {
	height: 100%;
	width: 100px;
	background-color: maroon;
	float: right;
}

.center-combat {
	height: 100%;
	float: left;
	background-size: 100% 100%;
}