ion-content {
	top: 0px !important;
	bottom: 0px !important;
}

.tabs {
	display: none;
}

/* General */
.fill {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

/* VIEWS */

.combat-over {
	height: 600px;
	width: 100%;
	position: absolute;
	top: 0px;
	text-align: center;
	font-size: 75px;
	padding-top: 150px;
}

.left-combat {
	height: 100%;
	width: 100px;
	float: left;
	background-color: #221F1F;
}

.turn {
	background-color: WHITE;
	width: 92px;
	height: 92px;
	margin: 4px;
}

.active-turn {
	background-color: #FFF555;
}

.right-combat {
	height: 100%;
	width: 100px;
	background-color: maroon;
	float: right;
}

.right-combat p {
	font-size: 20px;
}

.center-combat {
	height: 100%;
	float: left;
	background-size: 100% 100%;
}

.players {
	width: 50%;
	height: 100%;
	float: left;
}

.players > div {
	width: 50px;
	height: 75px;
	position: absolute;
}

.players > div:nth-child(1) {
	top: 60px;
	left: 120px;
}

.players > div:nth-child(2) {
	top: 45%;
	left: 175px;
}

.players > div:nth-child(3) {
	bottom: 20px;
	left: 110px;
}

.player {
	float: left;
	height: 90px;
	width: 40px;
	position: relative;
}

.enemies, .enemies .damage, .enemies .health {
	float: right !important;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.damage {
	white-space: nowrap;
	float: left;
	position: absolute;
	top: -35px;
	left: 17px;
	color: red;
}

.turn .health {
	display: none;
}

.health {
	white-space: nowrap;
	float: left;
	display: inline;
	position: relative;
	top: 10px;
	right: -5px;
	margin-top: -30px;
}

.enemies .health {
	right: 5px;
}

/* Player */

.player-portrait {
	width: 50px;
	height: 50px;
}
.player-head {
	height: 25px;
	position: relative;
	top: 5px;
}

.projectile {
	height: 7px;
	position: absolute;
	top: 26px;
}